body {
    font-family: 'Gotham-Light', sans-serif;
    font-weight: 350;
    margin-bottom:20px;
}

.titledesc{
    font-size:1.2em;
    color: #555;
}

p {
    font-size:16px;
}

.small {
    font-size:10px;
    color:#555;
    margin-bottom:15px;
}

.rightalign {
    text-align:right;
}

.keyfiguredesc {
    font-size:1.5em;
}

.keyfigure {
    color: #B71C1C;
    font-size:60px;
}

.data {
    font-size:1em;
    padding-bottom:10px;
}

.keyfigureunit {
    font-size:0.5em;
    color:#000;
}

.title {
    margin-top:20px;
    margin-bottom:20px;
    background-color:#eee;
}

a {
    color:#B71C1C;
}

a:hover, a:active, a:visited {
    color:#B71C1C;
}

h1 {
    color:#B71C1C;
}

#image {
    margin-top:20px;
}

.spark {
    padding-left:10px;
}

.margintop15 {
    margin-top:15px;
}

.margintop30 {
    margin-top:30px;
}

.margintop45 {
    margin-top:45px;
}

.pointer {
    cursor:pointer;
}

/*Style for global view*/

#globalmap {
    height:540px;
}

.leaflet-container {
    background: #d9d9d9;
}

.nav-link {
    margin-right:20px;
}

.active {
    color:#000;
    font-weight:800;
}

.active:hover, .active:visited {
    color:#000;
}

.d3standardlight{
    fill: #EF9A9A;
}

.d3standarddark{
    fill: #B71C1C;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.baraxis path,
.baraxis line {
    stroke-width:0;
}

#appealsgraph {
    font-size:10px;
}

.figsubtitle {
    font-size:16px;
    color:#666;
}

ul
{
    padding: 0;
    list-style-type: none;
}

li {
    height:45px;
}

#overview {
    height:320px;
}

#individual {
    height:320px;
}

/* style for www */

.dc-chart g.row text {
    fill:#000;
}

.hdx-3w-info{
    padding:5px;
    background-color:white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color:#7F1416;
    font-size:2em;
 }

 /* modal */

 .modal-content {
    text-align:center;
    margin-top:50px;
    margin-bottom:50px;
 }

 .smalltable {
    width:100%;
 }

 .smalltable td {
    padding-right:20px;
 }

 .stat{
    text-align:right;
 }

 /* country */

 #countrymap {
    height:540px;
}